DATABASE_URL="postgresql://usuario:contraseña@host:puerto/nombre_db?schema=public"
DIRECT_URL="postgresql://usuario:contraseña@host:puerto/nombre_db?schema=public"
JWT_SECRET=mi_secreto_superseguro
JWT_EXPIRES_IN=3600s
EMAIL_SERVICE=smtp.gmail.com
EMAIL_USER=mentoriappcolombia@gmail.com
EMAIL_PASS="ligq hpmf ytou yemp"
EMAIL_FROM_NAME=ParentIn 
EMAIL_FROM_ADDRESS=mentoriappcolombia@gmail.com
CORS_ORIGIN=*
GOOGLE_CLIENT_ID=client-id
GOOGLE_CLIENT_SECRET=client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback